body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: bisque;
    margin: 0;
}

.formulario{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.titulo{
    text-align: center;
    font-family: Cambria;
}

.divBase{
    text-align: center;
    font-family: Cambria;
}

.divAltura{
    text-align: center;
    font-family: Cambria;
}

.calcularArea{
    text-align: center;
}